body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: white;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  width: 100px;
  height: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
  width: 210px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  display: block;
}
/* tickets button */

.tickets-button {
  background-color: #e60077;
  color: white;
  font-size: 20px;
  border-color: #e60077;
  font-weight: bold;
  padding: 5px;
  width: 110px;
  height: auto;
}

.news-button {
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  font-weight: bold;
  width: 100px;
  height: auto;
}

.news-button:hover {
  background-color: #e60077;
  color: white;
  border-color: #e60077;
}

.tickets-button:hover {
  background-color: white;
  border-color: #e60077;
  color: #e60077;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: white;
  background-color: #e60077;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;
  background-color: #e60077;
}

#head {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head nav {
  display: flex;
}

#head nav img {
  padding: 0;
  margin-left: 60px;
  width: 150px;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  /* position: relative; */
}

#container {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

/* first content */
.first-content {
  width: 100%;
  height: 700px;
  background-color: rgb(71, 195, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-content h1 {
  color: rgb(41, 39, 39);
  font-size: 80px;
}

.first-content p {
  color: rgb(63, 63, 63);
}

.second-content {
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#news-first-div {
  display: flex;

  /* justify-content: center; */
  align-items: center;
}

#news-first-div div h2{
  font-size: 40px;
}

#news-first-div div p{
  color: rgb(58, 54, 54);
}

#news-second-div {
  display: flex;
  
}

.news-content{
  padding: 20px 20px 20px 0px;
}

#news-second-div *{
  font-size: 19px;
}


#news-second-div a img{
  width: 220px;
  height: 120px;
}

#news-second-div p{
  color: rgb(58, 54, 54);
}


#third-content{
  width: 100%;
  height: 400px;
  margin-bottom: 100px; /*  this must be removed after adding fourth content */
  background-color: #6bd9cc;
  
  display: flex;
  justify-content: center  ;
  align-items: center;
}

#content-in-third{
  display: inlin
}

#content-in-third h1{
  color: white;
  font-size: 50px;
  
}

#content-in-third p{
  font-size: 20px;
}
/* #first-content-img {
  width: 1000px;
  height: 1000px;
  
  transform: rotate(20deg);
  position: absolute;
  left: 5%;
  top: 0;
} */
